# Extracting ChatBot (Fixed an  Online appointment with the consultant doctor) data from mysql part-1

* Building a RASA chatbot like i build Online Appointment chatbot fixed user appointment  with there consultant  doctor and save that data in phpmysql after that i extract all the data which i save during       conversation (complete data saved on events table in **doctor_appointment** database) using rasa file             endpoints.yml i.e.


* **tracker_store:** -> tracker store define in endpoints.yml file to store data during your conversation. 



* For further query go with this link-->[RASA_TRACKER_STORE](https://rasa.com/docs/rasa/api/tracker-stores/)


  
* We have to extract data from phpmyadmin through mysql.connector python library .



* Data of chatbot are in json format so we used json python library to read json data easily and to extract all     features.

  
* Last we used pandas library to create dataframe or append all necessary information which was extracted before.
  Select query are used to extracted all data from phpmyadmin database i.e."doctor_appointment".
  
  
* Where clause used in select query to extract data according to  **sender_id** columns which is define in table     **events** in database **doctor_appointment** so that we get always fresh data or runtime data not all             previously data which were seen before.We append the data in data variable later on we work on that data.

In [ ]:

import mysql.connector
import json
from mysql.connector import Error
import pandas as pd

data=pd.DataFrame(columns=["event"])
try:
    connection =mysql.connector.connect(host='127.0.0.1',
					 database='doctor_appointment',
                                         user='root',
                                         password='')

    sql_select_Query = "select * from events"
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    records = cursor.fetchall()
    for row in records:
        sess=row[1]
    sql_select_Query = "select * from events where sender_id='%s'"%sess
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    records = cursor.fetchall()
    for row in records:
        conv=row[6]
        con=json.loads(conv)
        if(con["event"]=="user" or con["event"]=="bot"):
            
            chat_bot=pd.DataFrame(con)
            data=data.append(chat_bot,sort=True)
except Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if (connection.is_connected()):
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

# Now we have to see all the data  which was append before .

In [2]:
data

,data,event,input_channel,message_id,metadata,parse_data,text,timestamp
entities,NaN,user,socketio,36b9018f337d4f4199ae155e8a146be6,NaN,[],/get_started,1.573726e+09
intent,NaN,user,socketio,36b9018f337d4f4199ae155e8a146be6,NaN,"{'name': 'get_started', 'confidence': 1.0}",/get_started,1.573726e+09
intent_ranking,NaN,user,socketio,36b9018f337d4f4199ae155e8a146be6,NaN,"[{'name': 'get_started', 'confidence': 1.0}]",/get_started,1.573726e+09
text,NaN,user,socketio,36b9018f337d4f4199ae155e8a146be6,NaN,/get_started,/get_started,1.573726e+09
entities,NaN,user,socketio,150c743fb44548e3bb29f46c84b75ae6,NaN,[],hi,1.573726e+09
...,...,...,...,...,...,...,...,...
quick_replies,None,bot,NaN,NaN,NaN,NaN,Bye,1.573726e+09
buttons,None,bot,NaN,NaN,NaN,NaN,Bye,1.573726e+09
attachment,None,bot,NaN,NaN,NaN,NaN,Bye,1.573726e+09
image,None,bot,NaN,NaN,NaN,NaN,Bye,1.573726e+09
custom,None,bot,NaN,NaN,NaN,NaN,Bye,1.573726e+09

* Most of the features columns are unnecessary and some are null values,so our next approach is to filter all the data and extract all valuable or necessary data from them.
* Some data consist null value i.e. NaN (not a number) we remove it by using **dropna()** .

* For filtering our data we used **drop()** method of pandas library to drop the columns which are not necessary 
  for visualization .

In [3]:
data.dropna(how="any",axis=1,inplace=True)


data.drop("timestamp",axis=1,inplace=True)

data.drop(["entities","intent","intent_ranking","attachment","buttons","custom","elements","image"],inplace=True)



data

              event                                               text
text           user                                       /get_started
text           user                                                 hi
quick_replies   bot  Request to schedule an appointment with our ex...
quick_replies   bot                                 How May I Help You
text           user                                 /OnlineAppointment
quick_replies   bot  You are looking for a doctor in which department?
text           user                                       /Orthopedics
quick_replies   bot  You are looking for a doctor in which department?
text           user                                       /Orthopedics
quick_replies   bot          Here are the doctors in that department ðŸ‘‡
quick_replies   bot       Please select the doctor you would like to ðŸ˜Š
text           user                                  /MohdSarfarazKhan
quick_replies   bot             When do you prefer to meet the doctor?
text           user                                          /Tomorrow
quick_replies   bot  Are you visiting for the first time, or is it ...
text           user                                        /FirstVisit
quick_replies   bot                Are you already registered with us?
text           user                                               /Yes
quick_replies   bot                            What is your full name?
text           user                                        md sarfaraz
quick_replies   bot                                Your mobile number?
text           user                                         9898989878
quick_replies   bot                     And what's your date of birth?
text           user                                         26/09/1994
quick_replies   bot                        Please select your gender ðŸ‘‡
text           user                                              /Male
quick_replies   bot                        Finally, your email address
text           user                                        abc@xyz.com
quick_replies   bot              You will soon hear back from our team
quick_replies   bot                                   Have a great day
quick_replies   bot                                                Bye

# After dropping some columns we get three columns where,
1. one blank column which has rows like text and quick_replies,
2. next is event column which define conversation held between bot and user,where bot implies bot conversation or    asking some question to user or user are the given answer,
3. last columns define what conversation actually happen i.e

**a. hi(user text message hi)**


**b. Request to schedule an appointment with our ex...
How May I Help You(bot replies)**

In [4]:
data.T

,text,text,quick_replies,quick_replies,text,quick_replies,text,quick_replies,text,quick_replies,...,text,quick_replies,text,quick_replies,text,quick_replies,text,quick_replies,quick_replies,quick_replies
event,user,user,bot,bot,user,bot,user,bot,user,bot,...,user,bot,user,bot,user,bot,user,bot,bot,bot
text,/get_started,hi,Request to schedule an appointment with our ex...,How May I Help You,/OnlineAppointment,You are looking for a doctor in which department?,/Orthopedics,You are looking for a doctor in which department?,/Orthopedics,Here are the doctors in that department ðŸ‘‡,...,9898989878,And what's your date of birth?,26/09/1994,Please select your gender ðŸ‘‡,/Male,"Finally, your email address",abc@xyz.com,You will soon hear back from our team,Have a great day,Bye

**T implies Transpose in simple terms convert its rows to columns and vice-versa.**

In [5]:
user_data=data[data["event"]=="user"] 
print(user_data)

     event                text
text  user        /get_started
text  user                  hi
text  user  /OnlineAppointment
text  user        /Orthopedics
text  user        /Orthopedics
text  user   /MohdSarfarazKhan
text  user           /Tomorrow
text  user         /FirstVisit
text  user                /Yes
text  user         md sarfaraz
text  user          9898989878
text  user          26/09/1994
text  user               /Male
text  user         abc@xyz.com

In [6]:
ab=data.T
ab["text"]

,text,text,text,text,text,text,text,text,text,text,text,text,text,text
event,user,user,user,user,user,user,user,user,user,user,user,user,user,user
text,/get_started,hi,/OnlineAppointment,/Orthopedics,/Orthopedics,/MohdSarfarazKhan,/Tomorrow,/FirstVisit,/Yes,md sarfaraz,9898989878,26/09/1994,/Male,abc@xyz.com

* **Here user fixed an Online Appointment with the consultant doctor using chatbot and take all necessary information of user.**
* **All information which are extracted store in database user_details below using lib sqlalchemy-->**

In [11]:
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="",
                               db="doctor_appointment"))


# In[70]:




data.to_sql('user_details', con = engine, if_exists = 'append', chunksize = 1000)

/home/psspl_sarfaraz/environments/my_env/lib64/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x91\\x87' for column 'text' at row 10")
  result = self._query(query)
/home/psspl_sarfaraz/environments/my_env/lib64/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\x8A' for column 'text' at row 11")
  result = self._query(query)
/home/psspl_sarfaraz/environments/my_env/lib64/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x91\\x87' for column 'text' at row 25")
  result = self._query(query)